In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
plt.style.use('seaborn-colorblind')
%matplotlib inline

In [2]:
data = pd.read_csv('titanic.csv')

In [3]:
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [4]:
use_cols = [
    'Pclass', 'Sex', 'Age', 'Fare', 'SibSp',
    'Survived'
]

In [5]:
data = pd.read_csv('titanic.csv', usecols=use_cols)

In [6]:
data.dropna(inplace=True)

In [7]:
X = data.drop('Survived', axis=1)
X.shape

(714, 5)

In [8]:
X = pd.get_dummies(X)

In [9]:
X.head(2)

   Pclass   Age  SibSp     Fare  Sex_female  Sex_male
0       3  22.0      1   7.2500           0         1
1       1  38.0      1  71.2833           1         0

In [10]:
y = data['Survived']
y.shape

(714,)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [13]:
X_test.shape

(236, 6)

In [14]:
type(X_train)

pandas.core.frame.DataFrame

In [15]:
from sklearn.naive_bayes import GaussianNB

In [16]:
model = GaussianNB()

In [17]:
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [18]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test,y_pred)

array([[117,  20],
       [ 32,  67]])